h1 {
font-size: 20px;
color: red;
}

@media (min-width: 992px){
.row {
width:33.33%;
height: 100px;
}
}

@media (min-width: 768px) and (max-width: 991px){
.row {
width: 50%;
height: 100px;
}
}

@media (max-width: 767px){
.row {
width: 100%;
height: 100px;
}
}