h1 {
font-size: 20px;
color: red;
}

span{
width: 100%
}

h2 {
float: right;
margin: 0px;
padding: 5px;
width: auto;
height: 25px;
text-align: right;
background-color: white;
border: 1px solid black;
}

.row1, .row2, .row3 {
border: 1px solid black;
padding: 1px;
box-sizing: border-box;
}

.row1 {
background-color: #a9bcca;
}

.row2 {
background-color: #9fd175;
}

.row3 {
background-color: #9ba076;
}

@media (min-width: 992px){
.row1 {
width: 33%;
height: 250px;
float: left;
margin-right: 0.33%;
margin-bottom: 20px;
}
.row2 {
width: 33%;
height: 250px;
float: left;
margin-right: 0.33%;
margin-bottom: 20px;
}
.row3 {
width: 33%;
height: 250px;
float: left;
margin-right: 0.33%;
margin-bottom: 20px;
}
}

@media (min-width: 768px) and (max-width: 991px){
.row1 {
width: 49%;
height: 250px;
float: left;
margin-right: 1%;
margin-bottom: 20px;
}
.row2 {
width: 49%;
height: 250px;
float: left;
margin-right: 1%;
margin-bottom: 20px;

}
.row3 {
width: 100%;
height: 250px;
float: left;
margin-right: 5px;
margin-bottom: 20px;

}
}

@media (max-width: 767px){
.row1 {
width: 100%;
height: 250px;
float: left;
margin-bottom: 20px;

}
.row2 {
width: 100%;
height: 250px;
float: left;
margin-bottom: 20px;

}
.row3 {
width: 100%;
height: 250px;
float: left;
margin-bottom: 20px;
}
}
