/** Code for Nav Bar **/

* {
box-sizing: border-box;
}

.navbar{
height: 140px;
position: relative;
top: 0px;
}

#header-nav{
border-radius: 0;
border: 0;
background-color: black;
}

#logo-img{
background: url('../Images/food_logo.jpg') no-repeat;
width: 120px;
height: 120px;
margin: 10px;
}

.navbar-brand{
padding-top: 25px;
}

.navbar-brand h1{
line-height: 0.75;
font-size: 2.5em;
color: #ff471a;
padding-top: 15px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
text-decoration: none;
}


#nav_list a{
color: #ff471a;
text-align: center;
font-size: 1.8em;
}

#nav_list a:hover {
background: #ffb3b3;
}

#nav_list a span {
font-size: 2.4em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
border: 1px solid #cc2900;
}

.navbar-header button.navbar-toggle{
clear: both;
}

/** Code for tiles **/

#menu-one, #menu-two, #menu-three{
width: 100%;
height: 300px;
margin-bottom: 15px;
position: relative;
border: 2px solid black;
overflow: hidden;
}

#menu-one{
background: url('../Images/tile1.jpg') no-repeat;
background-position: center;
}


#menu-two{
background: url('../Images/tile2.jpg') no-repeat;
background-position: center;
}


#menu-three{
background-position: center;
}

#menu-one span, #menu-two span, #menu-three span{
position: absolute;
bottom: 0;
right: 0;
width: 100%;
text-align: center;
font-size: 1.6em;
text-transform: uppercase;
background-color: #000;
color: #fff;
opacity: 0.6; 
}

/** Code for footer **/

.panel-footer .container-fluid {
margin-top: 30px;
padding-top: 35px;
padding-bottom: 30px;
background-color: #000000;
border-top: 0;
font-size: 1.8em;
color: #ffffff;
text-align: center;
line-height: 1.5;
}

h3 {
font-size: 1.2em;
font-weight: bold;
font-style: italic;
}

#copy {
color: #000;
font-size: 0.9em;
background-color: #b8b894;
margin-top: 10px;
padding-top: 8px;
height: 32px;
margin-bottom: 25px;
}

/****media Query ******/

/** class large **/
@media (min-width:1200px){
.jumbotron {
	background: url('../Images/food_full.jpg') no-repeat;
	height: 900px;
	width: auto;
	box-shadow: 0 0 10px #991f00;	
	border: 2px solid #991f00;	
	}
}

/** class medium **/
@media (min-width: 992px) and (max-width: 1199px){
.jumbotron {
	background: url('../Images/food1.jpg') no-repeat;
	height: 700px;
	box-shadow: 0 0 7px #991f00;	
	border: 2px solid #991f00;	
	}
}

/** Class Small **/
@media (min-width: 768px) and (max-width: 991px){
.jumbotron {
	background: url('../Images/food1_992.jpg') no-repeat;
	height: 500px;
	box-shadow: 0 0 7px #991f00;	
	border: 2px solid #991f00;	
	}
}


/** class extra small **/
@media (max-width: 767px) {
.navbar-brand{
	margin-top: -25px;
}
.navbar-brand h1{
	font-size: 7vw;
}
.navbar {
	height: 16vw;
}
#collapsable-nav{
	font-size: 1.2em;
	background-color: black;
	opacity: 0.6;
}
.container-fluid .container_xs .jumbotron {
	margin-bottom: 50px;
	padding: 0 0 0 0;
	box-shadow: 0 0 7px #991f00;	
	border: 2px solid #991f00;	
	}
}

